<header>
  <div class="container row-line">
    <div class="colum-w40">
      <a href="#" class="logo">HDV</a>
      <span class="header-title">Vorsorgecheck</span>
    </div>
    <div class="colum-w60 row-line">
      <div class="colum-w88">
        <span class="header-text">In 7 Schritten prüfen Sie, ob</span>
        <span class="header-text">Ihr Pensionseinkommen ausreicht!</span>
      </div>
      <div class="colum-w12">
        <a href="#" class="logo-right">NZZ</a>
      </div>
    </div>
  </div>
</header>
